html {
  scroll-behavior: smooth;
}

/* .progress-image {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  text-align: center;
} */

.gambar {
  max-width: 100%;
  display: block;
  height: auto;
}

@import "https://fonts.googleapis.com/css?family=Montserrat:400,700,200";
body {
  /* font-family: "Poppins", sans-serif; */
  background: #fafafa;
}
b.text-konten {
  font-size: 1em;
  font-weight: bolder;
  /* line-height: 1.7em; */
  color: rgb(0, 0, 0);
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.baratas {
  padding: 15px 10px;
  color: #2ca8ff;
  background-color: #2ca8ff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  width: 100%;
}
.baratas-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}
.bungkus {
  display: flex;
  width: 100%;
  align-items: stretch;
  /* position: relative; */
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #318fb5;
}
ul.CTAs {
  padding: 20px;
  background: #005086;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download,
a.download:hover {
  background: #318fb5;
  color: #fff;
}
#konten {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.konten-bungkus {
  padding: 25px;
  margin-top: 20vh;
}

@media (maz-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.allButFooter {
  min-height: calc(100vh - 40px);
}

.notif {
  text-transform: capitalize;
  font-family: "Montserrat";
  position: relative;
}

.image {
  position: relative;
  width: 400px;
}

.image__img {
  display: block;
  width: 50%;
  height: 50%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #6cb4df;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  align-items: center;
  font-size: 1.25em;
  margin-top: 0.25em;
}

.not-allowed {
  cursor: not-allowed !important;
}

.myDiv h4 {
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 5px;
  /* font-size: 15px; */
}

.myDiv {
  text-align: center;
}

.myDiv .bgImage {
  display: inline-block;
  /* background-color: #2ba6cb; */
  /* border-radius: 90px; */
  padding: 0.5em 0.2em 0.8em 0.5em;
}

.aButton {
  cursor: pointer;
}
